<!DOCTYPE html>
<html>
<head>
    <title>Add {{ device_type }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add {{ device_type }}</h1>
    <form method="POST">
        <label for="ip">IP:</label>
        <select name="ip" id="ip" required>
            {% for ip in ips %}
                <option value="{{ ip }}">{{ ip }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="protocol">Video Protocol:</label>
        <select name="protocol" id="protocol" required>
            {% for protocol in protocols %}
                <option value="{{ protocol }}">{{ protocol }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Add {{ device_type }}</button>
    </form>
</body>
</html>
