<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}

    <div class="header">
        <h1>Add Basestations</h1>
        <div class="user-info">
            <span class="username">{{ username }}</span>
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        </div>
    </div>
    <form method="POST">
        <label for="bsid">Basetation Id:</label>
        <input type="text" name="bsid" id="bsid">
        <input type="password" name="bspass" id="bspass">
        <button type="submit">Add BaseStation</button>
    </form>
    
    <ul>

    </ul>

</body>
</html>