<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        <h1>Add Basestations</h1>
        <div class="user-info">
            <span class="username">{{ username }}</span>
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        </div>
    </div>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" name="user" id="user">
        <button type="submit">Add User to Basestation</button>
    </form>
    
    <ul>

    </ul>

</body>
</html>