<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}
    <div class="header">
        <h1>Remove Users from Basestation</h1>
        <div class="user-info">
            <span class="username">{{ username }}</span>
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
            <a href="{{ url_for('home') }}" class="home-btn">Home</a>
        </div>
    </div>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" name="user" id="user">
        <button type="submit">Remove User from Basestation</button>
    </form>
    
    <ul class="user-list">
        {% for item in items %}
            <li>
                <p>{{ item.username }}</p>
            </li>
        {% endfor %}
    </ul>

</body>
</html>