<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        <h1>Base Station: {{ basestation.name }}</h1>
        <div class="user-info">
            <span class="username">{{ username }}</span>
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
            <a href="{{ url_for('home') }}" class="home-btn">Home</a>
        </div>
    </div>

    <li>
        <a href="/basestation/{{basestation.id}}/drones">Drone view</a>
    </li>
    <li>
        <a href="/basestation/{{basestation.id}}/cameras">Camera view</a>
    </li>
    {% if admin %}
    <li>
        <a href="/basestation/{{basestation.id}}/adduser">Add User to Basestation</a>
    </li>
    <li>
        <a href="/basestation/{{basestation.id}}/removeuser">Remove User from Basestation</a>
    </li>
    {% endif %}
    <ul>

    </ul>

</body>
</html>