<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        <h1>Base Stations</h1>
        <div class="user-info">
            <span class="username">{{ username }}</span>
            <a href="{{ url_for('home') }}" class="home-btn">Home</a>
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        </div>
    </div>
    
    <ul class="add-basestation">
        <a href="/basestation/add">Add New Basestation</aa>
    </ul>

    <ul class="basestation-list">
        {% for item in items %}
            <li>
                <a href="/basestation/{{ item.id }}">{{ item.name }}</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>